<head>
  <!-- Appel de Bootstrap et de la feuille de styles -->
<link rel="stylesheet" type="text/css" href="Application.css" media="all"/>
<meta charset="utf-8">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>Mon année de BTS 1</title>
<!-- JQuery -->
<script src="jquery.js"</script>
<script src="Application.js"></script>
<!-- Fin d'appel JQuery -->
<div class="container">
  <div class="row">
       <div class="row">
         <div id="Page">
           <a href="Application"><center><img src="Logos_MLP/Parcours-BTS.PNG"></center></a>
         </div>

       <div align="center">
           <a href="CV"><button class="btn btn-info filter-button" data-filter="all">CV</button></a>
           <a href="BTS1-Page"><button class="btn btn-success filter-button" data-filter="hdpe">Première année</button></a>
           <a href="BTS2-Page"><button class="btn btn-warning filter-button" data-filter="sprinkle">Deuxieme année</button></a>
           <a href="Projets-persos"><button class="btn btn-danger filter-button" data-filter="spray">Projets persos</button></a>
           <a href="Tableau-Synthese"><button class="btn btn-default filter-button" data-filter="spray">Tableau de synthese</button></a>
       </div>
       <div class="container" style="padding-top : 5em">
       <section>
       <center><h2><b>Projet GPI</center></h2></b>
       <h4><p>Ce premier projet est une simulation de conduite de projet où nous sommes un manager qui doit réaliser un budget à travers le projet GPI Atos
         A travers des affectations de ressources et un cahier des charges bien précis, nous sommes capables de caractériser un budget précis. En voici les preuves</p>
       <center><img src="img/GPIScreen2.PNG"></center>
       <p>La répartition des tâches a permis une clarté par rapport au projet et va permettre de déterminer un budget par semaine et par ressource avec un système de
       double vérification. On arrive à un budget précis et à une meilleure estimation du projet</p>
         <center><img src="img/GPIScreen1.PNG"></center>
      <p>Malheureusement, cela ne reste qu'une reste qu'une estimation car, lors de toutes les conduites de projet, car comme l'illustre le graphique</p>
        <center><img src="img/GPIScreen3.png"></center>
        <p>Plus le projet avance, et plus la connaissance dans le projet augmente mais on n'a plus la capacité d'action que l'on avait lors du début du projet<br>
          On risque donc d'arriver à du retard et à budget suéprieur au budget prévisionnel initial</p></h4>
       </section>
     </div>
     <div class="container" style="padding-top : 5em">
       <section>
       <center><h2><b>Projet Medibase</center></h2></b>
       <h4><p>Ce second projet est une amélioration d'une base de données </p>
       <center><img src="img/MedibaseScreenBDD.png"></center>
       <p>Une Base de Données fonnctionnelle qui structure la pharmacie et facilite l'accès aux données auxquelles on veut parvenir.
       Une partie juridique est prévue avec des attentes du client de la Base de Données auxquelles on a répondu  </p>
         <center><img src="img/MedibaseScreenEDM.PNG"></center>
      <p>On devait réaliser un programme de chèque automatique qui devait transcrire le nombre en lettres</p>
        <center><img src="img/MedibaseScreenCheque.PNG"></center>
        <p>Un programme pyhton qui fait intervenir Tkinter et un programme complet pour mettre en place le cheque automatique</p></h4>
        <script src="https://gist.github.com/mlprod/1885ad0b6112fcbe001fa9c4322e5cf7.js"></script>
       </section>
     </div>
