<head>
  <!-- Appel de Bootstrap et de la feuille de styles -->
<link rel="stylesheet" type="text/css" href="Application.css" media="all"/>
<meta charset="utf-8">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>Année de BTS 2</title>
</head>
<!-- JQuery -->
<script src="jquery.js"</script>
<script src="Application.js"></script>
<!-- Fin d'appel JQuery -->
<div class="container">
  <div class="row">
       <div class="row">
         <div id="Page">
           <a href="Application"><center><img src="Logos_MLP/Parcours-BTS.PNG"></center></a>
         </div>

       <div align="center">
           <a href="CV"><button class="btn btn-info filter-button" data-filter="all">CV</button></a>
           <a href="BTS1-Page"><button class="btn btn-success filter-button" data-filter="hdpe">Première année</button></a>
           <a href="BTS2-Page"><button class="btn btn-warning filter-button" data-filter="sprinkle">Deuxieme année</button></a>
           <a href="Projets-persos"><button class="btn btn-danger filter-button" data-filter="spray">Projets persos</button></a>
           <a href="Tableau-Synthese"><button class="btn btn-default filter-button" data-filter="spray">Tableau de synthese</button></a>
       </div>

       <div class="container" style="padding-top : 2em">
                   <div><center>
                       <a href="https://sio-hautil.eu/~lassae/Defi-endurance/Formulaire-inscription.html"><img src="img/DefiEndurance.PNG"></a>
                   </div></center>




          </div>
     </div>
   </div>
 </div>
