<head>
  <!-- Appel de Bootstrap et de la feuille de styles -->
<link rel="stylesheet" type="text/css" href="Application.css" media="all"/>
<meta charset="utf-8">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>Mon CV</title>
</head>
<body>

<!-- JQuery -->
<script src="jquery.js"</script>
<script src="Application.js"></script>
<!-- Fin d'appel JQuery -->
<div class="container" style="padding-top: 5em" >
  <div class="row">
       <div id="Page">
        <a href="Application"><center><img src="Logos_MLP/Parcours-BTS.PNG"></center></a>
       </div>
       <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
           <a href="CV"><button class="btn btn-info filter-button" data-filter="all">CV</button></a>
           <a href="BTS1-Page"><button class="btn btn-success filter-button" data-filter="hdpe">Première année</button></a>
           <a href="BTS2-Page"><button class="btn btn-warning filter-button" data-filter="sprinkle">Deuxieme année</button></a>
           <a href="Projets-persos"><button class="btn btn-danger filter-button" data-filter="spray">Projets persos</button></a>
           <a href="Tableau-Synthese"><button class="btn btn-default filter-button" data-filter="spray">Tableau de synthese</button></a>
       </div>
       <div class="container" style="padding-top: 5em" width="1280" height="940">
          <center> <iframe src="CV_LASSABE_Emmanuel.pdf" width="1280" height="940" align="middle"></iframe></center>
        </div>
       </div>
   </div>
</body>
