<head>
  <!-- Appel de Bootstrap et de la feuille de styles -->
<link rel="stylesheet" type="text/css" href="Application.css" media="all"/>
<meta charset="utf-8">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>Projets persos</title>
</head>
<!-- JQuery -->
<script src="jquery.js"</script>
<script src="Application.js"></script>
<!-- Fin d'appel JQuery -->
<div class="container">
  <div class="row">
       <div class="row">
         <div id="Page">
           <a href="Application"><center><img src="Logos_MLP/Parcours-BTS.PNG"></center></a>
         </div>
       <div align="center">
           <a href="CV"><button class="btn btn-info filter-button" data-filter="all">CV</button></a>
           <a href="BTS1-Page"><button class="btn btn-success filter-button" data-filter="hdpe">Première année</button></a>
           <a href="BTS2-Page"><button class="btn btn-warning filter-button" data-filter="sprinkle">Deuxieme année</button></a>
           <a href="Projets-persos"><button class="btn btn-danger filter-button" data-filter="spray">Projets persos</button></a>
           <a href="Tableau-Synthese"><button class="btn btn-default filter-button" data-filter="spray">Tableau de synthese</button></a>
       </div>
     </div>
    </div>
  </div>
       <div class="container" style="padding-top : 5em">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <a href="https://www.facebook.com/mlprodoff/"><img src="Logos_MLP/Logo_MLProd-new.png" class="img-responsive"></a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <a href="https://fr.radioking.com/radio/diversity-"><img src="Logos_MLP/Diversity-logo.JPG" class="img-responsive"></a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <a href="https://manulassabe.jimdo.com/confidences-sur-une-vie-unique/"><img src="Logos_MLP/CSUVU-logo.PNG" class="img-responsive"></a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <a href="https://mlbngleblog.wordpress.com"><img src="Logos_MLP/MLBNG.png" class="img-responsive"></a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <a href="https://www.facebook.com/manulassabelapage"><img src="Logos_MLP/MLPage.png" class="img-responsive"></a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <a href="http://webstorming.eu/"><img src="Logos_MLP/GroupeWS.png" class="img-responsive"></a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FDiversityWR%2Fla-soir%C3%A9e-de-manu%2F" frameborder="0" ></iframe>
            </div>

        </div>
        <div class="container" style="padding-top : 5em">
          <center><h3><b>Projet Pyhton</center></h3></b>
          <div class="container" style="padding-top : 5em">
            <script src="https://gist.github.com/mlprod/4fb9526be086e31c55cd24db78f556cf.js"></script>
          </div>
        </div>
