<head>
<link href="CSS.css" media="all" rel="stylesheet" type="text/css" />
<meta charset="UTF-8">
</head>
<body>
--Exercice 1------------------------------------------------------------------------------------------------------------------------------<br>
<h1>
Un texte <sd>entoure</sd> de la balise H1
</h1>
------------------------------------------------------------------------------------------------------------------------------------------<br>
--Exercice 2------------------------------------------------------------------------------------------------------------------------------<br>
<span class=blue>Un texte</span><br>
------------------------------------------------------------------------------------------------------------------------------------------
<span class=blue>Exercice 3</span>
<p>Mon premier paragraphe avec du texte dedans, vous voyez, je sais écrire</p>
<p>Mon deuxieme paragraphe, là j'ai pris la confiance, je peux raconter ma vie</p>
<p>Mon troisieme paragraphe, apres la deception du deuxième, je ne sais plus quoi dire</p>

</body>
