<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles.css">
<script src="jquery.js"></script>
<script src="progress.js"></script>

<head>
  <title>Barres bidons</title>
  <meta charset ="utf-8">
</head>


<body class="mesforms">
<div class="page container">
   <header class="header" id="top">
    <div class="row justify-content-md-center">
  <div class="col-12 col-md-auto">
       <h1>Défi endurance  <span class="year"></span> </h1>
       </div></div>
      <br>
      <br>
  </header>


 <div class="container sectionbar" >
   <h2 class="classe">Classe</h2>
   <div class="progress effacer progress1">
    <div class="progress-bar prog-classe1" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar prog-classe2 progress-bar-striped  progress-bar-animated bg-success progressbar1" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress  progress1b">
    <div class="progress-bar prog-classe1" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
<div class="progress-bar   prog-classe2 progress-bar-striped progress-bar-animated"  role="progressbar" style="width: 0%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row justify-content-md-center">
  <div class="col-12 col-md-auto">
   <span class=" compteur  score-classe-first"><span class="effacer first_compteur"><span class="score-classe-first-count1">0</span> mètres</span><span  class="effacer score-classe-first-count2"> = 0 km</span></span>
   <span class=" compteur effacer score-classe">0 mètres = 0 km</span>
</div>
 </div>
 <h2 class="ecole">Ecole</h2>
 <div class="progress effacer progress2">
  <div class="progress-bar prog-ecole1" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar progress-bar-striped  prog-ecole2 progress-bar-animated bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
 <div class="progress  progress2b">
    <div class="progress-bar prog-ecole1" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar progress-bar-striped   progress-bar-animated prog-ecole2" role="progressbar" style="width: 0%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<div class="row justify-content-md-center">
<div class="col-12 col-md-auto">
 <span class="compteur2 effacer score-ecole">0 km sur 0 km</span>
</div>
</div>


<h2>Circonscription</h2>
<div class="progress  effacer progress3">
  <div class="progress-bar progress-bar2 prog-circo1" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar progress-bar2 progress-bar-striped  prog-circo2 progress-bar-animated bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
 <div class="progress   progress3b">
    <div class="progress-bar progress-bar2 prog-circo1" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar progress-bar2 progress-bar-striped   prog-circo2 progress-bar-animated " role="progressbar" style="width: 0%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<div class="row justify-content-md-center">
<div class="col-12 col-md-auto">
  <span class=" compteur2 effacer score-circo">0 km sur 0 km</span>
</div>
</div>
</div>


<div class="row justify-content-md-center">
 <div class="col-12 col-md-auto">

  <a class="btn btn-success btn-lg" href="Formulaire-objectif" role="button">Nouveau Score</a>
  <br>

  </div></div>
