.progress-bar {
  transition-duration: 2s;
}
.mesforms {
  margin:0;
  padding:0;
  background: url(../img/bg2.png) no-repeat center fixed;
  background-size: cover;
}
.sectionbar{
  margin-bottom: 8%;
}
.progress-bar {
 height:8vh;
}
.progress-bar2 {
 height:5vh;
}
.compteur{
  color:blue;
  font-size: 5vh;
}
.score-classe-first{
  color:#28a745;
}
.compteur2{
  color:blue;
  font-size: 5vh;
}
.page {
  min-width: 70%;
  min-height:83vh;
  margin-top: 3%;
}
h2{
  margin-top: 5%;
}
.effacer {display:none;}

.circo {
  height: 12vh;
  max-height: 120px;
}
